<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories |Posh Boutique Uganda | Shop online, All your favorite designers for men and women</title>
    <script src="https://kit.fontawesome.com/451579efa6.js" crossorigin="anonymous"></script>
        <!-- Customized Bootstrap Stylesheet -->
        <link href="/public/css/style.css" rel="stylesheet">
        <!-- main css file -->
    <link rel="stylesheet" href="/public/css/main-styles.css">
    <script
    src="https://unpkg.com/contentful@7.0.5/dist/contentful.browser.min.js"
    charset="utf-8"
  ></script>
</head>
<body>
    <header>
        <nav>
            <a href="/"><h3>Posh Boutique</h3></a>
            <div class="nav-bars">
                <span></span>
                <span></span>
                <span></span>
            </div>  
            <div class="nav-links">
             <div class="links">
                <a href="#contact">Contact us</a>
                <a href="#shop">Shop</a>
                <a href="/offers">Offers</a>
                <a href="#categories">Categories</a>
             </div>  
            </div>  
        </nav>
        <div class="side-menu-links show-mobile-menu">
            <div class="side-bar">
                <div class="side-links">
                    <a href="#shop">Shop</a>
                    <a href="/offers">Offers</a>
                    <a href="#categories">Categories</a>
                    <a href="#contact">Contact us</a>
                </div>  
               </div>  
        </div>
    </header>
    <main>
        <section class="featured-products" id="featured">    
            <!-- Products Start -->
            <div class="container-fluid pt-5 pb-3">
                <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3 category-title"></span></h2>
                <div class="row px-xl-5 category-items-container">


<!-- entire container to be replaced by innerHTML of products after javascript is done executing                     -->
<div class="loader-container">
<!-- Comments are just to fix whitespace with inline-block -->
<!-- entire container to be replaced by innerHTML of products after javascript is done executing                     -->

<div class="Spinner"><!--
    --><div class="Spinner-line Spinner-line--1"><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--left"></div><!--
        --></div><!--
        --><div class="Spinner-line-ticker"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--center"></div><!--
        --></div><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--right"></div><!--
        --></div><!--
    --></div><!--
    --><div class="Spinner-line Spinner-line--2"><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--left"></div><!--
        --></div><!--
        --><div class="Spinner-line-ticker"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--center"></div><!--
        --></div><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--right"></div><!--
        --></div><!--
    --></div><!--
    --><div class="Spinner-line Spinner-line--3"><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--left"></div><!--
        --></div><!--
        --><div class="Spinner-line-ticker"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--center"></div><!--
        --></div><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--right"></div><!--
        --></div><!--
    --></div><!--
    --><div class="Spinner-line Spinner-line--4"><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--left"></div><!--
        --></div><!--
        --><div class="Spinner-line-ticker"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--center"></div><!--
        --></div><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--right"></div><!--
        --></div><!--
    --></div><!--

--></div><!--/spinner -->
                    </div>
        
                </div>
            </div>
            <!-- Products End -->
        </section>  
    </main>

    <script src="/public/js/category.js"></script>
    </body>