<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories |Posh Clothings Store Uganda | Shop online, All your favorite designers for men and women</title>
    <script src="https://kit.fontawesome.com/451579efa6.js" crossorigin="anonymous"></script>
        <!-- Customized Bootstrap Stylesheet -->
        <link href="/public/css/style.css" rel="stylesheet">
        <!-- main css file -->
    <link rel="stylesheet" href="/public/css/main-styles.css">
    <script
    src="https://unpkg.com/contentful@7.0.5/dist/contentful.browser.min.js"
    charset="utf-8"
  ></script>
</head>
<body>
    <header>
        <nav>
            <a href="/"><h3>PoshClothings</h3></a>
            <div class="nav-bars">
                <span></span>
                <span></span>
                <span></span>
            </div>  
            <div class="nav-links">
             <div class="links">
                <a href="#contact">Contact us</a>
                <a href="/shop">Shop</a>
                <a href="/offers">Offers</a>
             </div>  
            </div>  
        </nav>
        <div class="side-menu-links show-mobile-menu">
            <div class="side-bar">
                <div class="side-links">
                    <a href="#shop">Shop</a>
                    <a href="/offers">Offers</a>

                    <a href="#contact">Contact us</a>
                </div>  
               </div>  
        </div>
    </header>
    <main>
        <section class="featured-products" id="featured">    
            <!-- Products Start -->
            <div class="container-fluid pt-5 pb-3">
                <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3 category-title"></span></h2>
                <div class="row px-xl-5 category-items-container">


<!-- entire container to be replaced by innerHTML of products after javascript is done executing                     -->
<div class="loader-container">
<!-- Comments are just to fix whitespace with inline-block -->
<!-- entire container to be replaced by innerHTML of products after javascript is done executing                     -->

<div class="Spinner"><!--
    --><div class="Spinner-line Spinner-line--1"><!--
        --><div class="Spinner-line-cog"><!--˜
            --><div class="Spinner-line-cog-inner Spinner-`line-cog-inner--left"></div><!--
        --></div><!--
        --><div class="Spinner-line-ticker"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--center"></div><!--
        --></div><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--right"></div><!--
        --></div><!--
    --></div><!--
    --><div class="Spinner-line Spinner-line--2"><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--left"></div><!--
        --></div><!--
        --><div class="Spinner-line-ticker"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--center"></div><!--
        --></div><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--right"></div><!--
        --></div><!--
    --></div><!--
    --><div class="Spinner-line Spinner-line--3"><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--left"></div><!--
        --></div><!--
        --><div class="Spinner-line-ticker"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--center"></div><!--
        --></div><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--right"></div><!--
        --></div><!--
    --></div><!--
    --><div class="Spinner-line Spinner-line--4"><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--left"></div><!--
        --></div><!--
        --><div class="Spinner-line-ticker"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--center"></div><!--
        --></div><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--right"></div><!--
        --></div><!--
    --></div><!--

--></div><!--/spinner -->
                    </div>
        
                </div>
            </div>
            <!-- Products End -->
        </section>  
    </main>

<section class="footer">
        <!--footer-->
<footer class="kilimanjaro_area">
<!-- Top Footer Area Start -->
<div class="foo_top_header_one section_padding_100_70">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="kilimanjaro_part">
                    <h5>About Us</h5>
                  <p>  Posh Clothings Store Ug is an online clothing store that sells stylish and affordable women's clothing in Kampala, Uganda.
                     We offer a wide variety of styles and sizes to fit every taste and body type, including dresses, skirts, tops, pants,jewerly and accessories.
                    </p> 

                   <p> We're committed to providing our customers with the best possible shopping experience. </p>
                    <p>We're proud to be a part of the Kampala community and we're committed to supporting local businesses.</p> 
                    <p>We're always looking for new ways to improve our business and we're always listening to our customers'  <a href="#contact" style="color: rgb(65, 200, 65);">feedback</a>.
                    
                    Thank you for choosing Posh Clothings Store!</p>
                </div>
                <div class="kilimanjaro_part m-top-15">
                    <h5>Social Links</h5>
                    <ul class="kilimanjaro_social_links">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
                        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i> Whatsapp</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="kilimanjaro_part">
                    <h5>Categories</h5>
                    <ul class=" kilimanjaro_widget">
                        <% categories[0].forEach(category=>{ %>
                            <% const {categoryName}=category.fields; %>
                            <li><a href="/categories/<%=category.sys.id%>"> <%=categoryName%> </a></li>
                      <% }) %>                 
                    </ul>
                </div>

                <div class="kilimanjaro_part m-top-15">
                    <h5>Important Links</h5>
                    <ul class="kilimanjaro_links">
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Terms & Conditions</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>About Licences</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Help & Support</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Careers</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Privacy Policy</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Community & Forum</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="kilimanjaro_part">
                   </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="kilimanjaro_part">
                    <h5>Quick Contact</h5>
                    <div class="kilimanjaro_single_contact_info">
                        <h5>Phone:</h5>
                        <p>+256 255 54 53 52 <br> +256 255 53 52 51</p>
                    </div>
                    <div class="kilimanjaro_single_contact_info">
                        <h5>Email:</h5>
                        <p>support@email.com <br> company@email.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Bottom Area Start -->
<div class=" kilimanjaro_bottom_header_one section_padding_50 text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>© All Rights Reserved. <a href="#">PoshClothings  <i class="fa fa-heart" aria-hidden="true"></i> </a></p>
            </div>
        </div>
    </div>
</div>
</footer>

    <script src="/public/js/category.js"></script>
    </body>