<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posh Boutique Uganda | Shop online, All your favorite designers for men and women</title>
    <script src="https://kit.fontawesome.com/451579efa6.js" crossorigin="anonymous"></script>
        <!-- Customized Bootstrap Stylesheet -->
        <link href="public/css/style.css" rel="stylesheet">
        <!-- main css file -->
    <link rel="stylesheet" href="/public/css/main-styles.css">
        <!-- Libraries Stylesheet -->
        <link href="public/lib/animate/animate.min.css" rel="stylesheet">
        <link href="public/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="#"><h3>Posh Boutique</h3></a>
            <div class="nav-bars">
                <span></span>
                <span></span>
                <span></span>
            </div>  
            <div class="nav-links">
             <div class="links">
                <a href="#contact">Contact us</a>
                <a href="#shop">Shop</a>
                <a href="/offers">Offers</a>
                <a href="#categories">Categories</a>
             </div>  
            </div>  
        </nav>
        <div class="side-menu-links show-mobile-menu">
            <div class="side-bar">
                <div class="side-links">
                    <a href="#shop">Shop</a>
                    <a href="/offers">Offers</a>
                    <a href="#categories">Categories</a>
                    <a href="#contact">Contact us</a>
                </div>  
               </div>  

        </div>
    </header>