<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posh Boutique Uganda | Shop online, All your favorite designers for men and women</title>
    <script src="https://kit.fontawesome.com/451579efa6.js" crossorigin="anonymous"></script>
        <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="/public/css/style.css">    
    <link rel="stylesheet" href="/public/css/main-styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="#"><h3>Posh Boutique</h3></a>
            <div class="nav-bars">
                <span></span>
                <span></span>
                <span></span>
            </div>  
            <div class="nav-links">
             <div class="links">
                <a href="#contact">Contact us</a>
                <a href="/shop">Shop</a>
                <a href="/offers">Offers</a>
             </div>  
            </div>  
        </nav>
        <div class="side-menu-links show-mobile-menu">
            <div class="side-bar">
                <div class="side-links">
                    <a href="#shop">Shop</a>
                    <a href="/offers">Offers</a>
                    <a href="#contact">Contact us</a>
                </div>  
               </div>  
        </div>
    </header>
        <section class="contact-us" id="contact">
            <div class="contact_us_green">
                <div class="responsive-container-block big-container">
                  <div class="responsive-container-block container">
                    <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-7 wk-ipadp-10 line" id="i69b-2">
                      <form class="form-box">
                        <div class="container-block form-wrapper">
                          <div class="head-text-box">
                            <p class="text-blk contactus-head" style="text-align:center;">
                              Contact us
                            </p>
                          </div>
                          <div class="responsive-container-block">
                            <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6" id="i10mt-6">
                              <p class="text-blk input-title">
                                First Name*
                              </p>
                              <input required type="text" class="input" id="ijowk-6" name="FirstName">
                            </div>
                            <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                              <p class="text-blk input-title">
                                Last Name*
                              </p>
                              <input required type="text" class="input" id="indfi-4" name="Last Name">
                            </div>
                            <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                              <p class="text-blk input-title">
                                Phone Number*
                              </p>
                              <input required type="number" class="input" id="imgis-5" name="PhoneNumber">
                            </div>
                            <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i634i-6">
                              <p class="text-blk input-title">
                                What do you have in mind ?*
                              </p>
                              <textarea required class="textinput" id="i5vyy-6" placeholder="Please enter query..."></textarea>
                            </div>
                          </div>
                          <div class="btn-wrapper">
                            <button type="submit" class="submit-btn">
                              Submit
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-5 wk-ipadp-10" id="ifgi">
                      <div class="container-box">
                        <div class="text-content">
                          <p class="text-blk contactus-head">
                            Contact us
                          </p>
                        </div>
                        <div class="workik-contact-bigbox">
                          <div class="workik-contact-box">
                            <div class="phone text-box">
                              <img class="contact-svg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET21.jpg">
                              <p class="contact-text">
                              <a href="tel:+97470923424">+1258 3258 5679</a>  
                              </p>
                            </div>
                            <div class="address text-box">
                              <img class="contact-svg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET22.jpg">
                              <p class="contact-text">
                               <a href="mailto:hello@poshboutiqueug.com">hello@poshboutiqueug.com</a> 
                              </p>
                            </div>
                            <div class="mail text-box">
                              <img class="contact-svg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET23.jpg">
                              <p class="contact-text">
                                102 street, y cross 485656
                              </p>
                            </div>
                          </div>
                          <div class="social-media-links">
                            <a href="">
                                <i class="fa fa-whatsapp icon-whatsapp" aria-hidden="true"></i>
                            </a>
                            <a href="">
                              <i class="fa fa-twitter icon-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram icon-instagram" aria-hidden="true"></i>  
                            </a>
                            <a href="">
                                <i class="fa fa-facebook icon-facebook" aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
    
        </section>
        <section class="footer">
          <!--footer-->
      <footer class="kilimanjaro_area">
      <!-- Top Footer Area Start -->
      <div class="foo_top_header_one section_padding_100_70">
      <div class="container">
          <div class="row">
              <div class="col-12 col-md-6 col-lg-3">
                  <div class="kilimanjaro_part">
                      <h5>About Us</h5>
                    <p>  Posh Boutique Ug is an online clothing store that sells stylish and affordable women's clothing in Kampala, Uganda.
                       We offer a wide variety of styles and sizes to fit every taste and body type, including dresses, skirts, tops, pants,jewerly and accessories.
                      </p> 
      
                     <p> We're committed to providing our customers with the best possible shopping experience. </p>
                      <p>We're proud to be a part of the Kampala community and we're committed to supporting local businesses.</p> 
                      <p>We're always looking for new ways to improve our business and we're always listening to our customers'  <a href="#contact" style="color: rgb(65, 200, 65);">feedback</a>.
                      
                      Thank you for choosing Posh Boutique!</p>
                  </div>
                  <div class="kilimanjaro_part m-top-15">
                      <h5>Social Links</h5>
                      <ul class="kilimanjaro_social_links">
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
                          <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i> Whatsapp</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                  <div class="kilimanjaro_part">
                      <h5>Categories</h5>
                      <ul class=" kilimanjaro_widget">
                          <% categories[0].forEach(category=>{ %>
      
                              <%   const {categoryName, categoryPhoto}=category.fields; %>
                              <% const { url } = categoryPhoto.fields.file; %>
                              <% const imageUrl = `https:${url}` %>
                              <li><a href="/categories/<%=category.sys.id%>"><%=categoryName%></a></li>
                        <% }) %>                 
                      </ul>
                  </div>
      
                  <div class="kilimanjaro_part m-top-15">
                      <h5>Important Links</h5>
                      <ul class="kilimanjaro_links">
                          <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Terms & Conditions</a></li>
                          <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>About Licences</a></li>
                          <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Help & Support</a></li>
                          <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Careers</a></li>
                          <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Privacy Policy</a></li>
                          <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Community & Forum</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                  <div class="kilimanjaro_part">
                     </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                  <div class="kilimanjaro_part">
                      <h5>Quick Contact</h5>
                      <div class="kilimanjaro_single_contact_info">
                          <h5>Phone:</h5>
                          <p>+256 255 54 53 52 <br> +256 255 53 52 51</p>
                      </div>
                      <div class="kilimanjaro_single_contact_info">
                          <h5>Email:</h5>
                          <p>support@email.com <br> company@email.com</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
      <!-- Footer Bottom Area Start -->
      <div class=" kilimanjaro_bottom_header_one section_padding_50 text-center">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <p>© All Rights Reserved. <a href="#">Posh Boutique Uganda<i class="fa fa-love"></i></a></p>
              </div>
          </div>
      </div>
      </div>
      </footer>
       <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="/public/js/main.js"></script> -->
    <script src="/public/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/public/js/index.js"></script>
    </body>